<!-- <form (ngSubmit)="onSubmit()" name="loginForm" [formGroup]="loginForm">
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Email</mat-label>
    <input formControlName="username" matInput required/>
    <mat-error *ngIf="'loginForm.get(email).errors?.required'">
        Required Email Address
    </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input type="{{hide ? 'password' : 'text'}}" formControlName="password" matInput required/>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="hide ? 'Hide Password' : 'Show Password'">
          <mat-icon>{{ hide ? 'visibility' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="'loginForm.get(password).errors?.required'">
          Required password
      </mat-error>
  </mat-form-field>

</form> -->


<mat-card>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-card-header>Login</mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" placeholder="Enter your username">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Enter your password">
      </mat-form-field>
      <button mat-raised-button type="submit">Login</button>
    </div>
    </mat-card-content>
  </form>
</mat-card>
